[Unit]
Description=AUD Arbitrage Bot
After=network.target

[Service]
WorkingDirectory=/opt/aud_arb
ExecStart=/opt/aud_arb/.venv/bin/python -u src/main.py
Restart=always
User=root
StandardOutput=append:/opt/aud_arb/logs/bot.log
StandardError=append:/opt/aud_arb/logs/bot.log

[Install]
WantedBy=multi-user.target